h1 {
	font-size: 5.5rem;
	color: whitesmoke;
	opacity: 68%;
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: whitesmoke !important;

}

.section1 {
	padding-top: 5rem !important;
}

body {
	background: rgb(4, 3, 23);
	background: radial-gradient(circle, rgba(4, 3, 23, 1) 0%, rgba(86, 86, 93, 1) 61%);
}

.container {
	padding-top: 2rem;
}

.featured-text {
	padding-left: 1rem;
}

.motto {
	padding-top: 5rem;
	color: #599EE0 !important;
	font-size: 150%;
}

.navItem {
	color: whitesmoke;
}

.navActive {
	color: #599EE0 !important;
}

a:hover {
	color: lightblue !important;
	text-decoration: none;
}

.productItem {
	padding-left: 1rem;
}

.sectionalDiv {
	padding-bottom: 2rem;
}

.sectionNames {
	color: whitesmoke !important;
}

.itemList {
	font-size: 100%;
	text-align: left;
}